$col-prot: light-dark(
  oklch(61.3% 0.106 237.7),
  oklch(66.6% 0.106 237.7));
$col-deut: oklch(70.74% 0.1702 53.41);

$col-yes: oklch(0.7632 0.149 170.92);
$col-no: oklch(0.6368 0.2368 21.36);
$col-yay: oklch(81.02% 0.1702 85.48);

$col-based: oklch(0.7074 0.1455 261.19);
$col-incline: oklch(0.7074 0.1455 29.91);
$col-manifold: oklch(0.7074 0.1455 295.91);
$col-chaos: oklch(0.6677 0.1834 360);

$col-text: light-dark(
  oklch(1% 0 0),
  oklch(99% 0 0));
$col-text-deut: light-dark(
  oklch(75% 0.015 237.7),
  oklch(50% 0.015 237.7));

$col-line: light-dark(
  oklch(90% 0 0),
  oklch(40% 0 0));
$col-nav: light-dark(
  rgb(white, 60%),
  rgb(black, 60%),
);

$col-hover: light-dark(
  rgb(black, 3%),
  rgb(white, 10%));
$col-click: light-dark(
  rgb(black, 5%),
  rgb(white, 15%));

// more intense interaction colours for smaller clickable parts
$col-clicky-hover: light-dark(
  oklch(98% 0 0),
  oklch(24% 0 0));
$col-clicky-click: light-dark(
  oklch(95% 0 0),
  oklch(30% 0 0));

// less intense interaction colours for larger clickable parts
$col-card-hover: light-dark(
  oklch(99% 0 0),
  oklch(22% 0 0));
$col-card-click: light-dark(
  oklch(96% 0 0),
  oklch(28% 0 0));


// fallbacks
$col-prot-fallback: #4d9dcd;
$col-deut-fallback: #f07d1c;
$col-text-fallback: #000000;
$col-text-deut-fallback: #a6b0b6;
$col-line-fallback: #dedede;
$col-nav-fallback: rgb(white, 60%);
