@mixin font-ui {
  font-family: 'Geologica', 'Segoe UI', system-ui, sans-serif;
  font-weight: 300;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 1,
    "SHRP" 0;
}

@mixin font-serif {
  font-family: 'Crimson Pro', 'Times New Roman', serif;
  font-weight: 300;
}

@mixin font-code {
  font-family: 'Fira Sans Mono', 'Consolas', monospace;
  font-weight: 400;
}
