@mixin font-ui {
  font-family: 'Geologica', 'Segoe UI', system-ui, sans-serif;
  font-weight: 300;
}

@mixin font-serif {
  font-family: 'Crimson Pro', 'Times New Roman', serif;
  font-weight: 300;
}
