@use './src/styles/mixins/~colours' as *;


@mixin interact($hover, $click, $t: 0.1) {
  transition: background-color #{$t}s ease-out;
  
  &:hover {
    cursor: pointer;
    background-color: $hover;
  }

  &:active {
    cursor: pointer;
    background-color: $click;
  }
}


@mixin focus {
  &:focus {
    outline: 1px solid $col-prot;
  }
}
