@use '~colours' as *;


@mixin interact($hover: none, $click: none, $t: 0.1) {
  transition: background-color #{$t}s ease-out;
  
  &:hover {
    cursor: pointer;
    background-color: rgb(black, 3%);  // fallback
    background-color: $hover;
  }

  &:active {
    cursor: pointer;
    background-color: rgb(black, 5%);  // fallback
    background-color: $click;
  }
}


@mixin focus-outline {
  &:focus {
    outline: none;
  }
  
  &:focus-visible:not(:active) {
    outline: 1px solid #3c8dbc;  // fallback
    outline: 1px solid $col-prot;
  }
}
