@use '~colours' as *;


@mixin link {
  color: $col-prot-fallback;
  color: $col-prot;
  text-decoration: none;
  transition: color 0.12s ease-out;

  &:hover, &:focus {
    color: $col-deut-fallback;
    color: $col-deut;
  }

  @media (prefers-contrast: more) {
    color: $col-prot-contrast;
  }
}

@mixin underline-link {
  position: relative;
  @include link;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0.2em;
    width: calc(100% - 0.4em);
    height: 1px;
    background: $col-prot-fallback;
    background: $col-prot;
    transform: scaleX(1);
    transform-origin: center;
    transition: all 0.12s ease-out;
  }

  &:hover, &:focus {
    &::after {
      width: 100%;
      left: 0;
      background: $col-deut-fallback;
      background: $col-deut;
      transform: scaleX(1.02)
    }
  }

  @media (prefers-contrast: more) {
    &::after {
      background: $col-prot-contrast;
    }
  }
}
