/**
 * Styles for static article pages
 */

@use 'mixins/~colours' as *;
@use 'mixins/~fonts' as *;


@counter-style double-arrows {
  system: cyclic;
  symbols: '–';
  symbols: '⟹';
  suffix: '   ';
}

@counter-style single-arrows {
  system: cyclic;
  symbols: '–';
  symbols: '→';
  suffix: '   ';
}


article {
  max-width: 100%;
  
  h1 {
    display: none;
  }

  h2 {
    margin: 1.5em 0 0.75em;
    padding: 0 0.1em 0.25em;
    @include font-serif;
    font-weight: 400;
    font-size: 200%;
    border-bottom: 1px solid $col-line;
  }

  h3 {
    width: max(70%, min(100%, 20em));
    // width: minmax(20em, 70%, 100%);
    margin: 1em 0;
    padding: 0 0.1em 0.25em;
    @include font-serif;
    font-weight: 350;
    font-size: 150%;
    border-bottom: 1px solid $col-line;
  }

  p {
    margin: 1em 0;
    font-weight: 250;
    line-height: 150%;
  }

  strong {
    font-weight: 500;
  }

  :not(pre) code {
    padding: 0.25em 0.5em;
    @include font-code;
    font-size: 80%;
    background-color: $col-click;
    border-radius: 0.4em;
  }

  a {
    position: relative;
    color: #3c8dbc;  // fallback
    color: $col-prot;
    text-decoration: none;
    transition: color 0.12s ease-out;

    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0.2em;
      width: calc(100% - 0.4em);
      height: 1px;
      background-color: #3c8dbc;  // fallback
      background-color: $col-prot;
      transform: scaleX(1);
      transform-origin: center;
      transition: all 0.12s ease-out;
    }

    &:hover {
      color: #f07d1c;  // fallback
      color: $col-deut;

      &:after {
        width: 100%;
        left: 0;
        background-color: #f07d1c;  // fallback
        background-color: $col-deut;
        transform: scaleX(1.02)
      }
    }
  }

  ul {
    font-weight: 250;
    list-style-type: double-arrows;

    li {
      margin: 0.5em 0;

      ul {
        margin-left: 2em;
        list-style-type: single-arrows;
      }
    }
  }

  table {
    border-collapse: collapse;

    td, th {
      padding: 0.25em 0.5em;
      border: 1px solid $col-line;
    }

    td {
    }

    th {
      font-weight: 400;
      color: $col-prot;
    }
  }

  pre:has(code) {
    padding: 0.5em 1em;
    @include font-code;
    font-size: 100%;
    background-color: $col-hover;
    border-radius: 0.75em;
  }
}
