/**
 * Styles for static article pages
 */

@use 'mixins/~colours' as *;
@use 'mixins/~fonts' as *;
@use 'mixins/~links' as *;


@counter-style double-arrows {
  system: cyclic;
  symbols: '⟹';
  suffix: '   ';
}

@counter-style single-arrows {
  system: cyclic;
  symbols: '→';
  suffix: '   ';
}


article {
  max-width: 100%;
  
  h1 {
    display: none;
  }

  h2 {
    margin: 1.5em 0 0.75em;
    padding: 0 0.1em 0.25em;
    @include font-serif;
    font-weight: 400;
    font-size: 200%;
    border-bottom: 1px solid $col-line;
  }

  h3 {
    width: max(70%, min(100%, 20em));
    // width: minmax(20em, 70%, 100%);
    margin: 1em 0;
    padding: 0 0.1em 0.25em;
    @include font-serif;
    font-weight: 350;
    font-size: 150%;
    border-bottom: 1px solid $col-line;
  }

  p {
    margin: 1em 0;
    font-weight: 250;
    line-height: 150%;
  }

  strong {
    font-weight: 500;
  }

  :not(pre) code {
    padding: 0.25em 0.5em;
    @include font-code;
    font-size: 90%;
    background: $col-click;
    border-radius: 0.4em;
  }

  p > a,
  ul li > a,
  > ol li > a {
    @include underline-link;
  }

  sup a {
    @include link;
  }

  blockquote {
    --col: #{$col-deut};
    padding-left: 1em;
    color: $col-text-deut;
    border-left: 2px solid $col-deut-fallback;
    border-left: 2px solid var(--col);

    .gfm-alert-indicator {
      margin-bottom: -0.5em;
      color: $col-deut-fallback;
      color: var(--col);
      font-size: 90%;
      font-weight: 450;
    }

    &.gfm-alert.note {
      --col: #{$col-prot};
    }
  }

  ul, ol {
    font-weight: 250;
    list-style-type: double-arrows;

    li {
      margin: 0.5em 0;

      ul {
        margin-left: 2em;
        list-style-type: single-arrows;
      }
    }
  }

  ol {
    padding-left: 1em;
    list-style-type: ordinal;
  }

  img {
    margin: 1rem 0;
    box-shadow: 0 3px 8px light-dark(
      rgb(black, 8%),
      rgb(white, 0%)
    );
  }

  table {
    border-collapse: collapse;

    td, th {
      padding: 0.25em 0.5em;
      border: 1px solid $col-line;
    }

    th {
      font-weight: 400;
      color: $col-prot;
    }
  }

  pre:has(code) {
    padding: 0.5em 1em;
    @include font-code;
    font-size: 100%;
    background: $col-hover;
    border-radius: 0.75em;
  }
}

article {
  .footnotes {
    padding-top: 3rem;
    @include font-ui;
    font-weight: 250;
    font-size: 80%;
    color: $col-text-deut;

    hr {
      display: none;
    }

    ol {
      padding-top: 1em;
      border-top: 1px solid $col-line;
    }

    li {
      padding: 0.25em 1em;

      a {
        padding-left: 0.4em;
        @include link;
      }
    }
  }
}
