@use 'mixins/~colours' as *;
@use 'mixins/~fonts' as *;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  color-scheme: light dark;
  @include font-ui;
  font-size: 100%;
}

html, body {
  width: 100%;
  background: white;  // fallback
  background: light-dark(white, black);
}


p, td {
  @include font-ui;
}

em {
  font-style: normal;
  font-variation-settings:
    "slnt" -9,
    "CRSV" 1,
    "SHRP" 0;
}

h1, h2, h3,
.trivia
{
  em {
    font-style: italic;
    font-variation-settings: none;
  }
}

img {
  max-width: 100%;
}


::selection {
  color: white !important;
  background: $col-prot-fallback !important;  // fallback
  background: $col-prot !important;
}
