@use 'mixins/~colours' as *;
@use 'mixins/~fonts' as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  @include font-ui;
  font-size: 100%;
}

html, body {
  width: 100%;
}


p, td {
  @include font-ui;

  em {
    font-style: normal;
    font-variation-settings:
      "slnt" -9,
      "CRSV" 1,
      "SHRP" 0;
  }
}


::selection {
  color: white !important;
  background-color: $col-prot !important;
}
