@use 'mixins/~colours' as *;
@use 'mixins/~fonts' as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  @include font-ui;
  font-size: 100%;
}

html, body {
  width: 100%;
}


p, td {
  @include font-ui;

  em {
    font-style: normal;
    font-variation-settings:
      "slnt" -9,
      "CRSV" 1,
      "SHRP" 0;
  }
}

h2 {
  margin: 1em 0;
  padding: 0 0.1em 0.25em;
  @include font-serif;
  font-weight: 400;
  font-size: 200%;
}

img {
  max-width: 100%;
}


::selection {
  color: white !important;
  background-color: #3c8dbc !important;  // fallback
  background-color: $col-prot !important;
}
