***October 31*** Laptop recovered from the dead, and ofc we’re straight back to work on *Integrity*. Many quality-of-life fixes and much long-awaited technical debt to be resolved...

***September 23*** Enjoy a bit of daily maths trivia ;)

***August 22*** The [Desmos library](https://sup2point0.github.io/integrity/desmos/library) has been added.
