***March 21*** Desmos embeds have (finally!) arrived to all pages on *Integrity*! btw, if you’re interested in some of the engineering behind *Integrity*, I’ve started delving into it in [Integrating Integrity](https://sup2point0.github.io/integrity/docs/integrity) =)

***March 20*** [Workspace](https://sup2point0.github.io/integrity/workspace) has received some long overdue polishing, and now correctly loads definite integrals.

***February 1*** If you’re looking for awesome maths YouTubers to watch, I’ve compiled a [small list of my favourites](https://sup2point0.github.io/integrity/fun/youtube) :D
